{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block head %}
<style>

</style>
{% endblock %}
{% block content %}

    <h1>Profile Page</h1>
    <div>
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" width="160px">
        {% endif %}
        <h1>{{user.username}}</h1>
        <h2>{{user.email}}</h2>
        <p>{{user.bio}}</p>
        <p>Joined date: {{user.last_login}}</p>
    </div>

    <!-- {% include 'components/loading.html' %} -->

{% endblock %} 