{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
    {{data}}
    <h1>Hi</h1>
    <pre>
WEEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE
EEEEEE

    </pre>
{% endblock %}