<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index testing</title>
        <link rel="stylesheet" href="static/css/components/navbar.css">
        <script src="static/js/main.js" defer></script>
        
    </head>
    <body>
        <div class="container-html">

            <header>Header</header>
            
            <main>Main</main>
            <side>Side</side>
            <aside>Aside</aside>

            <footer>Footer</footer>
        </div>
    </body>
</html>