<!-- {% load static %} -->
<nav id="navbar">
    <a href="#">OnStack</a>
    <a href="#">Home</a>
    <a href="#">Posts</a>
    <a href="#">Issues</a>
    <a href="#">Suggestion</a>
    <a href="#">About</a>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
        <a href="#">Profile</a>
    {% else %}
        <a href="#">Login</a>
        <a href="#">Register</a>
    {% endif %}
</nav>
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}"